<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
	<title>Cash Calculator</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

	<script type="text/javascript" src="js/Product.js"></script>
</head>
<body>
	
	<div id="app" class="container">
		<div class="page-header">
		  <h1>Chashier Calculator </h1>
		</div>
		<div class="row table-conatainer">
			<div class="alert alert-info" v-if="productsListEmpty">
				shoping list is empty
			</div>
			<table class="table table-striped" v-else>
				<thead>
					<th>Index</th>
					<th>Name</th>
					<th>Cost Per Unit</th>
					<th>Quantity</th>
					<th>Cost</th>
				</thead>
				<tbody >
					<tr v-for="(elm,i) in productsList">
						<td>{{i}}</td>
						<td>{{elm.name}}</td>
						<td>{{elm.cpu}}</td>
						<td>{{elm.quantity}}</td>
						<td>{{elm.cost()}}</td>
						<td>
							<button class="btn btn-danger" v-on:click="deleteProduct(i)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>

		<div class="row">
			<h2>Total Cost : {{totalCost}}</h2>	
		</div>
		
		<div class="row">
			
			<div class="col-md-3">
				<input type="text" class="form-control" 
					placeholder="Name" v-model="input.name">
			</div>

			
			
			<div class="col-md-3">
				<input type="number" class="form-control" step="0.01" 
					placeholder="Quantity" v-model="input.quantity">
			</div>

			<div class="col-md-3">
				<input type="number" class="form-control" 
					placeholder="Cost Per Unit" v-model="input.cpu">
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary"  v-on:click="addProduct">Add</button>
				<button class="btn btn-danger" v-on:click="clearProducts">Clear</button>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>